{% extends 'main/layout.html' %}

<!-- {% block title %}Про нас{% endblock %} -->

{% block content %}
    <div class="features">
        <!-- <h1>Главная страница</h1> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deserunt impedit fuga recusandae itaque laboriosam, temporibus optio magnam sint minima asperiores facilis incidunt! Maiores voluptas dolorem cum facilis itaque dolore.</p> -->
        <button class="btn btn-success">Login</button>
    </div>
{% endblock %}
