{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <!-- <h1>{{ title }}</h1> -->
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit deserunt impedit fuga recusandae itaque laboriosam, temporibus optio magnam sint minima asperiores facilis incidunt! Maiores voluptas dolorem cum facilis itaque dolore.</p> -->
        <!-- <button class="btn btn-warning">На страницу про нас</button> -->
        <!-- <button class="btn btn-danger">Нажми сучкка бля</button> -->
    </div>

{% endblock %}